spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  datasource:
    url: jdbc:h2:mem:testdb
    username: test_user
    password: test_user
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  application:
    name: ticket-booking-app
